.container-principal  {
    height: 60px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: aquamarine;
    position: fixed;   
}

.brand-container  {
    margin: 10px;
    padding: 10px;
}

.lista-link  {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px 40px;
}

ul{
    list-style: none;
  }

li  {
    padding: 5px;
    margin: auto;
}